<div class="section-about__container" id="about">
  <div class="section-about__content main__content">
    <div class="section-about__title">
      <h2>Sobre</h2>
    </div>
    <div class="section-about__subtitle">
      <p>Sou programador web em busca de oportunidades para aplicar minhas habilidades e crescer na área de
        desenvolvimento de
        software. Com conhecimentos em Java, javaScript, HTML e CSS.

        Minha paixão pela programação começou quando tinha 15 anos, comecei a desenvolver em java, mas dei uma pausa
        nos
        estudos, e retornei em 2023 com JavaScript, Angular, html e css. Desde então, tenho me dedicado a aprender e
        aprimorar
        minhas
        habilidades técnicas, trabalhando em projetos pessoais e freelancer.</p>
    </div>
  </div>
</div>