.section-about__container {
  background: var(--primary-color);
  height: 30vh;
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

.section-about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
}

.section-about__title h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.section-about__subtitle {
  width: 65%;
  font-style: oblique;
  font-size: 1.1rem;
}
