.section-skills__title h2 {
  display: flex;
  justify-content: center;
  color: var(--color-text);
  font-size: 2rem;
}

.skills-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
