<div class="section-skills__container" id="skills">

  <div class="section-skills__title main__content">
    <h2>{{skill}}</h2>
  </div>

  <div class="skills-card main__content">
    <app-skills-title skillTitle="Java" skillImg="/assets/img/java.svg"></app-skills-title>
    <app-skills-title skillTitle="javaScript" skillImg="/assets/img/js.svg"></app-skills-title>
    <app-skills-title skillTitle="angular" skillImg="/assets/img/angular.svg"></app-skills-title>
    <app-skills-title skillTitle="html" skillImg="/assets/img/html.svg"></app-skills-title>
    <app-skills-title skillTitle="css" skillImg="/assets/img/css.svg"></app-skills-title>
    <app-skills-title skillTitle="git" skillImg="/assets/img/git.svg"></app-skills-title>
  </div>

</div>