.menu-bar__container {
  background: var(--primary-color);
  position: fixed;
  width: 100%;
  top: 0;
}

.menu-bar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-bar__items ul {
  display: flex;
  list-style: none;
}

.menu-bar__items ul li {
  margin: 1rem;
  font-size: 1.2rem;
}

.menu-bar__items ul li a {
  transition: all 0.3s ease-in-out;
}

.menu-bar__items ul li a:hover {
  color: var(--color-link);
}
