<div class="section-projects__container" id="projetos">
  <div class="section-projects__content main__content">
    <div class="section-projects__title">
      <h2>Experiência Profissional</h2>
    </div>

    <div class="projects-card main__content">
      <app-projects-card projectsTitle="Barbearia Cortes de Elite" projectsTechnology="JavaScript | HTML | CSS."
        projectsPhoto="assets/img/Barbearia.png" projectsLinkRepo="https://github.com/italofvm/Angular-Barbearia"
        projectsLinkDemo="https://barbearia-cortes-de-elite.vercel.app/"></app-projects-card>
      <app-projects-card projectsTitle="Gerenciar Clientes" projectsTechnology="Angular | Spring Boot | HTML | CSS."
        projectsPhoto="assets/img/gerenciarClientes.png"
        projectsLinkRepo="https://github.com/italofvm/Gerenciar_Clientes"
        projectsLinkDemo="https://gerenciar-clientes.vercel.app/"></app-projects-card>
      <app-projects-card projectsTitle="Shop-Shoes" projectsTechnology="HTML | CSS."
        projectsPhoto="assets/img/shop-shoes.png" projectsLinkRepo="https://github.com/italofvm/Shop-Shoes"
        projectsLinkDemo="https://shop-shoes-plum.vercel.app/"></app-projects-card>
      <app-projects-card projectsTitle="Marvel Blog" projectsTechnology="Angular | HTML | CSS."
        projectsPhoto="assets/img/AngularBlog.png" projectsLinkRepo="https://github.com/italofvm/Angular_Blog"
        projectsLinkDemo="https://angular-marvel-blog.vercel.app/"></app-projects-card>
      <app-projects-card projectsTitle="Dashboard" projectsTechnology="JavaScript | HTML | CSS."
        projectsPhoto="assets/img/Dashboard.png" projectsLinkRepo="https://github.com/italofvm/Angular-Dashboard"
        projectsLinkDemo="https://dashboard-italofvm.vercel.app/"></app-projects-card>
      <app-projects-card projectsTitle="Landing Page" projectsTechnology="JavaScript | HTML | CSS."
        projectsPhoto="assets/img/landingPage.png" projectsLinkRepo="https://github.com/italofvm/landingpage"
        projectsLinkDemo="https://landingpage-sigma-pink.vercel.app/"></app-projects-card>
    </div>
  </div>
</div>