.projects-card__photo {
  width: 30rem;
}

.projects-card__photo img {
  width: 100%;
}

.projects-card__content {
  margin: 0.5rem 0;
}

.projects-card__container {
  color: var(--color-text);
  width: 35rem;
  height: 25rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 1rem;
}

.projects-card__btn a button {
  padding: 1rem 2rem;
  margin: 0.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
  font-weight: bold;
}

.projects-card__btn a button:hover {
  background-color: var(--color-text--segundary);
  color: var(--color-text);
}
